@import './base';

@import './components/links';
@import './components/buttons';
@import './components/background-elements';
@import './components/services-card';
@import './components/carousel-button';
@import './components/happycustomer-card';
@import './components/pagination';
@import './components/form';

@import './utils/fonts';
@import './utils/variables';

@import './layouts/contact-section';
@import './layouts/container';
@import './layouts/footer';
@import './layouts/happycustomer-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/lesstalk-section';
@import './layouts/modal';
@import './layouts/services-section';
