:root {
  --color-primary-dark: #181817;
  --color-primary-light: #ffffff;
  --color-brand-normal: #ff9f0e;
  --color-brand-light: #fcb62a;
  --color-brand-dark: #839aa9;
  --color-customer-section: #f1f3ff;
  --color-background: #fffaf3;
  --color-background-element1: #d9a6ff;
  --color-background-element2: #ff6e9f;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
