.background-elements {
  &__hero-section-arrow {
    position: absolute;
    top: -48px;
    right: 17.3%;
    fill: var(--color-brand-light);
    transform: rotate(3.5deg);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  &__radius {
    border-radius: 50%;
  }
  &__hero-section-paw-left {
    position: absolute;
    left: -17.4%;
    bottom: 10%;
    fill: var(--color-brand-light);
    animation-name: paw-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    &--mobile {
      position: absolute;
      left: 14%;
      bottom: -17%;
      fill: var(--color-brand-light);
      animation-name: paw-left;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    }
    @keyframes paw-left {
      0% {
        fill: var(--color-brand-light);
      }
      100% {
        fill: var(--color-background-element1);
      }
    }
  }

  &__hero-section-paw-top {
    position: absolute;
    left: -2.7%;
    top: 10%;
    fill: var(--color-background-element1);
    animation-name: paw-top;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    &--mobile {
      position: absolute;
      right: -2.7%;
      top: 32%;
      fill: var(--color-background-element1);
      animation-name: paw-top;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    }
    @keyframes paw-top {
      0% {
        fill: var(--color-background-element1);
      }
      100% {
        fill: var(--color-background-element2);
      }
    }
  }

  &__hero-section-paw-right {
    position: absolute;
    top: 38%;
    right: -18%;
    fill: var(--color-background-element2);
    animation-name: paw-right;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    &--mobile {
      position: absolute;
      bottom: -20%;
      right: 20%;
      fill: var(--color-background-element2);
      animation-name: paw-right;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.49, -0.93, 0.45, 1.81);
    }
    @keyframes paw-right {
      0% {
        fill: var(--color-background-element2);
      }
      100% {
        fill: var(--color-brand-light);
      }
    }
    // @media screen and (max-width: $bp-desktop) {
    //   transform: scale(0.5);
    // }
  }

  &__hero-section-dog-left {
    position: absolute;
    left: -21%;
    top: 44%;
    transform: rotate(-31deg);
    animation-name: dog-left;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    &--mobile {
      position: absolute;
      left: -6%;
      bottom: 0%;
      transform: rotate(-31deg) scale(0.5);
    }
    @keyframes dog-left {
      50% {
        transform: scale(1.2);
      }
    }
  }

  &__hero-section-dog-top {
    position: absolute;
    top: -10%;
    left: 18.6%;
    transform: rotate(-16deg);
    animation-name: dog-top;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    &--mobile {
      position: absolute;
      bottom: -26%;
      left: 43%;
      transform: rotate(-16deg) scale(0.5);
    }
    @keyframes dog-top {
      50% {
        transform: scale(1.1);
      }
    }
  }

  &__hero-section-dog-right {
    position: absolute;
    top: 13%;
    right: -5.5%;
    animation-name: dog-right;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    &--mobile {
      position: absolute;
      bottom: 0%;
      right: -6%;
      transform: scale(0.5);
    }
    @keyframes dog-right {
      50% {
        transform: scale(1.15);
      }
    }
  }

  &__lesstalk-section-food {
    position: absolute;
    top: 97%;
    left: 42%;
    fill: var(--color-brand-dark);
  }
  &__lesstalk-section-paw-left {
    position: absolute;
    top: 57%;
    left: 7%;
    fill: var(--color-brand-dark);
    transition: transform 0.3s;
    &:hover {
      transform: scale(2);
    }
  }

  &__lesstalk-section-paw-top {
    position: absolute;
    top: 8%;
    left: 33%;
    fill: var(--color-brand-dark);
    transition: transform 0.3s;
    &:hover {
      transform: scale(2);
    }
  }

  &__lesstalk-section-paw-right {
    position: absolute;
    top: 45%;
    left: 82%;
    fill: var(--color-brand-dark);
    transition: transform 0.3s;
    &:hover {
      transform: scale(2);
    }
  }
  &__lesstalk-section-arrow {
    display: none;
    @media screen and (max-width: 768px) {
      position: absolute;
      display: block;
      top: 0;
      left: 156px;
      fill: var(--color-brand-light);
      transform: rotate(3.5deg);
    }
  }

  &__services-section-arrow {
    position: absolute;
    top: 0px;
    right: 0px;
    fill: var(--color-brand-light);
    transform: rotate(3.5deg);
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
