.button {
  padding: 16px 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.17;
  color: var(--color-primary-light);
  background-color: var(--color-brand-normal);
  border-radius: 8px;
  border: var(--color-brand-normal);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  &__centered {
    display: block;
    margin: 0 auto;
  }
  &__footer {
    padding: 8px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border-radius: 4px;
    border: var(--color-brand-normal);
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
  }
  &:hover {
    background-color: var(--color-brand-light);
    border: var(--color-brand-light);
  }

  @media screen and (max-width: 1280px) {
    padding: 8px 24px;
    font-size: 16px;
  }
  &__nutrition {
    border-bottom: 1px solid var(--color-brand-dark);
    border-right: 1px solid var(--color-brand-dark);
    border-top: 1px solid var(--color-brand-dark);
    border-left: 0;
    padding: 8px;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    &:first-child {
      border-radius: 2px 0 0 2px;
      border-left: 1px solid var(--color-brand-dark);
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
    &:focus {
      color: var(--color-primary-light);
      background-color: var(--color-brand-normal);
    }
  }
  &__nutrition-mobile-menu {
    display: flex;
    border: 0;
    font-size: 16px;
    justify-content: space-between;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      color: var(--color-brand-normal);
      font-weight: 600;
    }
    &:active {
      color: var(--color-brand-normal);
      font-weight: 600;
    }
  }
}
