.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  fill: var(--color-primary-light);
  background-color: var(--color-brand-dark);
  border: var(--color-brand-dark) 1px solid;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
  &:hover {
    background-color: var(--color-brand-normal);
    border: var(--color-brand-normal) 1px solid;
  }
  @media screen and (max-width: 768px) {
    display: none;
  }

  &.next {
    transform: rotate(180deg);
  }
}
.carousel-button-nutrition {
  // position: absolute;
  // left: 32px;
  display: flex;
  max-width: 32px;
  height: 24px;
  font-size: 14px;
  // line-height: 1.17;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  flex-grow: 1;
  transition: color 0.2s;
  transition: background-color 0.2s;
  &:active {
    background-color: var(--color-brand-normal);
    color: var(--color-primary-light);
    border-radius: 2px;
  }
  &.prev {
    transform: rotate(180deg);
  }
}
