.link {
  color: var(--color-primary-dark);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.05em;
  &:hover {
    font-weight: 700;
    color: var(--color-brand-normal);
  }
}
