.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-background);
  margin-bottom: 50px;
  @media screen and (max-width: $bp-tablet) {
    margin-bottom: 0;
    margin-top: 122px;
    padding: 14px 0 40px;
  }
  &__container {
    display: flex;
    gap: 20px;
    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      // display: block;
    }
  }
  &__nav,
  &__form {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
    @media screen and (max-width: $bp-tablet) {
      gap: 24px;
      flex-direction: column;
      align-items: center;
    }
  }
  // &__nav {
  //   display: flex;
  //   @media screen and (max-width: $bp-tablet) {
  //     flex-direction: column;
  //     align-items: center;
  //   }
  // }
  &__logo {
    @media screen and (max-width: $bp-tablet) {
      width: 92px;
      height: 24px;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
    @media screen and (max-width: $bp-tablet) {
      text-align: center;
    }
  }
  &__image {
    margin-bottom: 24px;
  }
  &__icons {
    @media screen and (max-width: $bp-tablet) {
      display: none;
    }
  }
  &__icons-mobile {
    display: none;
    @media screen and (max-width: $bp-tablet) {
      display: block;
    }
  }
  &__icon {
    fill: var(--color-brand-normal);
    &--instagram {
      stroke: var(--color-brand-normal);
      background-color: transparent;
      fill: transparent;
      margin-right: 8px;
    }
  }
  &__menu-link {
    margin-bottom: 16px;
  }
  // &__form {
  //   display: flex;
  //   flex-grow: 1;
  //   @media screen and (max-width: $bp-tablet) {
  //     display: block;
  //     margin: 0 auto;
  //   }
  // }
  &__dog {
    position: absolute;
    // right: 7%;
    right: 0;
    bottom: -50px;
    @media screen and (max-width: $bp-desktop) {
      max-width: 146px;
      bottom: -24px;
    }
    @media screen and (max-width: $bp-tablet) {
      max-width: 138px;
      top: -122px;
      right: auto;
    }
  }
}
