.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(24, 24, 23, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
.modal {
  position: relative;
  border-radius: 32px;
  max-width: 880px;
  max-height: 880px;
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  overflow-y: auto;
  padding: 142px 140px;
  &__btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 0;
    border: none;
    stroke: var(--color-primary-dark);
    background-color: transparent;
    fill: transparent;
    cursor: pointer;
  }
}
